body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
  background: radial-gradient(ellipse at top, #0f172a, #0a0f1f);
  color: white;
}


.dark-theme .navbar {
  background-color: #0f172a;
  color: white;
}

.dark-theme .hero-section {
  background-image: linear-gradient(to right, #1e293b, #0f172a);
  color: white;
}

.dark-theme a {
  color: white;
}

.dark-theme .text-gray-600,
.dark-theme .text-gray-500,
.dark-theme .text-gray-800 {
  color: #d1d5db !important;
}

.dark-theme .bg-blue-100 {
  background-color: #1e293b !important;
}

.dark-theme .text-blue-600 {
  color: #38bdf8 !important;
}

.dark-theme .border-gray-300 {
  border-color: #334155 !important;
}

.dark-theme .gradient-text {
  background: linear-gradient(to right, #3b82f6, #6366f1, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toggle-dark-mode-icon {
  color: #1f2937;
}

.dark-theme .toggle-dark-mode-icon {
  color: #ffffff;
}


